<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">
        <span class="fas fa-home"></span>
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/notifications">
        <span class="fas fa-bell"></span>
        Notifications
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/calendar">
        <span class="fas fa-calendar"></span>
        Calendar
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/roles">
        <span class="fas fa-user-tag"></span>
        Roles
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/teams">
        <span class="fas fa-futbol"></span>
        Teams
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profiles">
        <span class="fas fa-user"></span>
        Profiles
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/photos">
        <span class="fas fa-images"></span>
        Photos
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/settings">
        <span class="fas fa-cog"></span>
        Settings
      </a>
    </li>
  </ul>