<!--<div class="profile-header-container">-->   
    <div class="profile-header-img">
        <img class="img-circle rounded-circle" src="/users/<%= userId %>/image" />
        <!-- badge 
        <div class="rank-label-container">
            <span class="label label-default rank-label">100 puntos</span>
        </div>-->

    </div>
<!--</div>
-->