
<h4>Add New Event</h4>
<form action="/teams/<%= team.id %>/events/new" method="POST">
    <div class="mb-3">
        <label for="teamNameEdit" class="form-label">Team</label>
        <input type="text" class="form-control" id="teamNameEdit" name="name" readonly placeholder="<%= team.name %>">
    </div>
    <input type="hidden" name="isMatch" value="1"/>
	<div class="mb-3">
		<label for="opponentEdit" class="form-label">Opponent</label>
		<input type="text" class="form-control" id="opponentEdit" name="opponent" required>
	</div>
	<div class="mb-3">
		<label for="datePicker" class="form-label">Date</label>
		<input type="date" class="form-control" id="datePicker" name="startDate" required>
	</div>
	<div class="mb-3">
		<label for="timePicker" class="form-label">Start Time</label>
		<input type="time" class="form-control" id="timePicker" name="startTime" required>
	</div>
	<div class="mb-3">
		<label for="durationEdit" class="form-label">Duration (mins)</label>
		<input type="number" class="form-control" id="durationEdit" name="duration" required>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" id="isAtHomeCheck" name="isAtHome" checked>
        <label class="form-check-label" for="isAtHomeCheck">
            At Home
        </label>
    </div>
	<div class="mb-3">
        <label for="venueList" class="form-label">Venue</label>
        <input class="form-control" list="venueOptions" id="venueList" name="venue" placeholder="Type to search..." required>
        <datalist id="venueOptions">
            <option value="To Do" />
            <option value="Koornang Park" />
        </datalist>
	</div>
	<div class="mb-3">
		<label for="notesEdit" class="form-label">Notes</label>
        <textarea class="form-control" id="notedEdit" name="notes" rows="3"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Add Event</button>
</form>
</div>