<h1>Teams</h1>
<%- include ('./partials/messages') %>
<div 
<h4>List Of Teams Here</h4>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTeamDlg">Add Team</button>


<!-- Modals -->
<!-- Vertically centered scrollable modal -->
<div class="modal fade" id="addTeamDlg" tabindex="-1" aria-labelledby="addTeamDlgLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Team</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addTeamDlgaddTeamBtn">Add Team</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/teams.js" ></script>
