<h1>Teams</h1>
<%- include ('./partials/messages') %>
<h4>Your Teams</h4>



<% teams.forEach(function(team){ %>
    <a href="/teams/<%= team.id %>" class="card">
        <div class="card-body">
            <h5 class="card-title"><%= team.name %></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

        </div>
    </a>
<% }); %>



<a href="/teams/new" class="btn btn-primary">Add Team</a>

<script src="/js/teams.js" ></script>
